#imgPlace{
	background-image: url(network.jpg);
	background-size: cover;
}
.form-area{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: medium;

}
.navbarNav{
    font-family: 'Times New Roman', Times, serif;
    font-display: #000000;
}
#about{
    font-size: larger;
}

.education{
    margin: 0;
    padding: 0;
    background-size: cover;

}
.box{

background: rgba(0,0,0,0.0);
padding: 40px;
margin-left: 5%;
color:#000000;
font-family: cursive;
}
.box-img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.school{
    margin-bottom: 10px;
}
.inter{
    margin-bottom: 100px;
}
.btech{
 margin-bottom: 20px;;
}


